In [59]:
import requests
import pandas as pd
from bs4 import BeautifulSoup
html_doc ="""
<table>
  <tbody><tr>
    <th>Student</th>
    <th>Favourite Computer Language</th>
    <th>Years of Experience</th>
  </tr>
  <tr>
    <td>Fred</td>
    <td>Kotlin</td>
    <td>4</td>
  </tr>
  <tr>
    <td>Paula</td>
    <td>Python</td>
    <td>2</td>
  </tr>
  <tr>
    <td>Ernst</td>
    <td>Java</td>
    <td>7</td>
  </tr>
  <tr>
    <td>Isabel</td>
    <td>C++</td>
    <td>3</td>
  </tr>
  <tr>
    <td>Tony</td>
    <td>Pearl</td>
    <td>7</td>
  </tr>
  <tr>
    <td>Maria</td>
    <td>Cobol</td>
    <td>15</td>
  </tr>
</tbody></table>
"""
soup = BeautifulSoup(html_doc, 'html.parser')
table = soup.find('table')

headers = table.find_all("th")
titles = []

for i in headers:
    title = i.text
    titles.append(title)

df2 = pd.DataFrame(columns=titles)

rows = table.find_all("tr")

for i in rows[1:]:
    data = i.find_all("td")            
    row = [tr.text for tr in data]     
    l =len(df2)                        
    df2.loc[l]= row
    df2.head()
print(df2)

  Student Favourite Computer Language Years of Experience
0    Fred                      Kotlin                   4
1   Paula                      Python                   2
2   Ernst                        Java                   7
3  Isabel                         C++                   3
4    Tony                       Pearl                   7
5   Maria                       Cobol                  15